:root{
    --light-blue:#a5f3fc;
}
body{
    background-color: var(--light-blue);
}

h1{
    text-align: center;
}

.container{
    width: 50%;
    margin: auto;
}

input,
label{
    display: block;
}

input{
    margin-bottom: 0.5rem;
    width: 100%;
}

#check-btn{
    display: block;
    margin-top: 1rem;
    margin: auto;
}

.footer {
    position: relative;
    margin-top: 230px;
    border-top: 2px solid black;
}
.footer div {
    color: black;
    text-align: center;
}
.footer a {
    padding-inline: 1rem;
    font-size: 29px;
    color: black;
    text-decoration: none;
}

